@model IEnumerable<Wikipages.Models.Category>

<html>
<head>
    <title>Wikipages - Details</title>
</head>
<body>
    <h2>Details</h2>
    <h4>@Html.DisplayNameFor(model => model.category)</h4>
    <ul>
        @foreach (var listCategory in Model)
        {
            <li>@Html.DisplayFor(modelCategory => listCategory.category) | @Html.ActionLink("Details", "Details", new { id = listCategory.id })</li>
        }
    </ul>
    <p>@Html.ActionLink("Back to list", "Index")</p>
  
</body>
</html>